$primary: #000000;
$secondary: #9E9E9E;
$accent: #EBEBEB;

$border-radius: 0.22rem;

$ff-primary: 'Exo', sans-serif;
$ff-secondary: 'Kallisto', sans-serif;
$ff-brand: 'Miller Banner', sans-serif;

$fs-small: 1.125rem;
$fs-base: 1.25rem;
$fs-large: 1.75rem;
$fs-xlarge: 1.875rem;
$fs-xxlarge: 2.5rem;